<div class="home">
  <div class="home__create-phone-number">
    <tl-create-phone-number
      (submitHandler)="addPhoneNumber($event)">
    </tl-create-phone-number>
  </div>
  <table class="table table-bordered home__phone-list">
    <tr class="phone-list__header">
      <th>#</th>
      <th>Name</th>
      <th>Phone</th>
      <th>Img</th>
      <th>Menu</th>
    </tr>
    <tbody *ngFor="let item of phoneList$ | async; let i = index">
    <tr class="phone-list__item item">
      <td class="item__iterator">{{i +1}})</td>
      <td class="item__name">{{item.name}}</td>
      <td class="item__phone">{{item.phone}}</td>
      <td class="item__img"><img src="{{item.img}}" alt="{{item.name}}"></td>
      <td class="item__btn">
        <button type="button"
                class="btn btn-danger"
                (click)="deleteItem(item.id)">Delete
        </button>
        <button type="button"
                class="btn btn-success"
                (click)="changShow(item.id)">Change
        </button>
      </td>
    </tr>
    <tr *ngIf="chang === item.id">
      <td colspan='5'>
        <tl-create-phone-number [newPhone]="item"
                                [btnName]="'Save chang'"
                                (submitHandler)="changItem(item.id, $event)">
        </tl-create-phone-number>
      </td>
    </tr>
    </tbody>
  </table>
</div>
