@import '~styles/main';

.home {
  &__phone-list {
    .phone-list {
      &__header {
        font-weight: bold;
        font-size: 20px;
        th {
          text-align: center;

        }
      }
      &__item {
        .item {
          &__img {
            text-align: center;
          }
          &__btn {
          text-align: center;
        }
        }
      }
    }
  }
}
